body {
  margin: 0;
  padding: 5px 10px;
}

:root {
  --btn: #dbdbdb;
  --btn-hover: #cacaca;
  --item-bg: #f0f0f0;
  --modal-bg: rgba(141, 141, 141, 0.541);
}

.heading {
  text-align: center;
}

.app {
  display: flex;
  padding: 7px;
}

.employee--list,
.employee--info {
  width: 30%;
  border: 1px solid;
  height: 450px;
  padding: 5px 10px;
  overflow: auto;
}

.employee--info {
  width: 70%;
}

.employee--list__heading,
.employee--info__heading {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 0;
}

.employee--list__employees {
  display: flex;
  flex-direction: column;
}

.employee--list__employees__employee--record {
  display: flex;
  justify-content: space-between;
  background-color: var(--item-bg);
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 3px;
}

.employee--list__employees__employee--record:hover,
.employee--list__employees__employee--selected {
  cursor: pointer;
  background-color: var(--btn-hover);
}

.employee--info__view {
  text-align: center;
}

.employee--info__view__image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7px;
}

.header__heading {
  margin: 10px;
}

.header__add--employee,
.add--employee--modal__employee--form__fields--container__submit {
  background-color: var(--btn);
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
}

.header__add--employee:hover,
.add--employee--modal__employee--form__fields--container__submit:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}

.add--employee--modal {
  background-color: var(--modal-bg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;

  display: none;
  justify-content: center;
  align-items: center;
}

.add--employee--modal__employee--form {
  background-color: white;
  padding: 15px;
  width: 450px;
  border-radius: 5px;
}

.add--employee--modal__employee--form > h4 {
  text-align: center;
  margin: 5px 0 10px;
}

.add--employee--modal__employee--form__fields--container {
  display: flex;
  flex-direction: column;
}

.add--employee--modal__employee--form__fields--container > div {
  display: grid;
  grid-template-columns: 48.1% 48.1%;
  column-gap: 15px;
}

.add--employee--modal__employee--form__fields--container input {
  padding: 10px 10px;
  margin: 5px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.add--employee--modal__employee--form__fields--container
  input::-webkit-outer-spin-button,
.add--employee--modal__employee--form__fields--container
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
